.dashboard_container {
  min-height: 100vh;
}

.dashboard_headingBox {
  padding: 1.5rem;
  background-color: #0D1B2A;
}

.dashboard_headingText {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.dashboard_contentBox {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.dashboard_chart {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}