.dashboard_container {
  padding: 2rem;
}

.dashboard_contentBox {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.dashboard_chart {
  width: 100%;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}